<body class="task_body"><div class="task"><h1>Edit Task</h1>

<%= form_for @task do |f| %>

  <p>
    <%= f.label :title %> </p>
    <%= f.text_field :title %>
 
  <p>
    <%= f.label :description %> </p>
    <%= f.text_area :description %>
 
  <p>
    <%= f.label :done %>
    <%= f.check_box :done %>
  </p>

  <%= f.submit %>

<% end %></div></body>