<h1>Edit Task</h1>

<%= form_for @task do %>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.textarea :description %>
  </p>
  <p>
    <%= f.label :done %>
    <%= f.check_box :done %>
  </p>

  <%= f.submit %>

<% end %>