<div class="task"><h1>Edit Task</h1>

<%= form_for @task do |f| %>

    <%= f.label :title %>
    <%= f.text_field :title %>
 
    <%= f.label :description %>
    <%= f.text_area :description %>
 
    <%= f.hidden_field :done, :value => "false" %>
    <%= f.hidden_field :user_id, :value => session[:user_id] %>
  
  <% @user.categories.each do |c| %>
    <%= f.radio_button :category_id, c.id %>
    <%= f.label :category_id, c.name %><br />
  <% end %>

  <%= f.submit %>
<% end %>
</div>
