<h1>All Tasks</h1>

<p>Session user id: <%= session[:user_id] %></p>

<% @tasks.each do |t| %>

  <h4><%= link_to(t.title, task_path(t.id)) %></h4>
  <p>Description: <%= t.description %></p>
  <p>Task Done: <%= t.done %></p>

<% end %>

<br />
<p><button><%= link_to("New Task", new_task_path) %></button></p>
