
<body id="task_body">
	
<div id="task">
	<h1>New Task</h1>
	<hr>

<%= form_for @task do |f| %>

 
    <p><%= f.label :title %></p>
     <%= f.text_field :title %>
  
  
    <p><%= f.label :description %></p>
    <%= f.text_area :description %>
  
  <p>
    <%= f.hidden_field :done, :value => "false" %>
    <%= f.hidden_field :user_id, :value => session[:user_id] %>
  </p>
  
  <% @categories.each do |c| %>
  
    <%= f.radio_button :category_id, c.id %>
    <%= f.label :category_id, c.name %><br />
    
  <% end %>

  <%= f.submit %>

<% end %>
</div>
</body>