

<div id="form">
	<%= form_tag create_login_path do %>
  <div class="field">
   
    <%= text_field_tag :email, params[:email], :placeholder => "Email" %>
  </div>
  
  <div class="field">
    
    <%= password_field_tag :password, params[:password], :placeholder =>"Password" %>
  </div>
  
  <%= submit_tag "Login", :id => "submit" %>
<% end %>

<p id="n_user">Are you a new user?</p>
<%=link_to("Create a new account", signup_path) %>
</div>