<h1>TaskMate</h1>

<ul id="sortable" class="ui-sortable" data-update-url="<%= sort_tasks_url %>">
<% @tasks.each do |faq| %>
  <%= content_tag_for :li, faq do %>
    <span class="handle">[drag]</span>
    <%= link_to h(faq.title), faq %>
  <% end %>
<% end %>
</ul>

<!-- <ul id="tasks">
  <% @tasks.each do |task| %>
    <li id="task_<%= task.id %>"><span class="handle">[drag]</span><%= task.title %></li>
  <% end %>
</ul> -->
