<h1 id="t_title">All Projects</h1>
<hr>

<% if current_user %>

<ul id="sortable_project" class="ui-sortable" data-update-url="<%= sort_projects_url %>">
<% @projects.each do |project| %>
  <%= content_tag_for :li, project do %>
    <span class="handle"> </span>
    <%= link_to h(project.name), project %>
    
    <ul id="sortable" class="sortable ui-sortable" data-update-url="<%= sort_tasks_url %>">
    <% project.tasks.each do |task| %>
      <%= content_tag_for :li, task do %>
        <span class="handle"> </span>
        <%= link_to h(task.title), task, class: "pro_tasks" %>
      <% end %>
    <% end %>
  </ul>
    
  <% end %>
<% end %>
</ul>
<% end %>

<%= link_to("New Project", new_project_path, :id => "n_new") %>