<h1><%= @name %>'s Projects</h1>

<p>Session user id: <%= session[:user_id] %></p>

<% @projects.each do |p| %>

  <h4><%= link_to(p.title, task_path(p.id)) %></h4>
  <p>Description: <%= p.description %></p>
  <p>Project Done: <%= p.done %></p>

<% end %>

<%= link_to("New Project", new_project_path) %>
