<h1>Details page for <%= @project.name %></h1>

<p>Description: <%= @project.description %></p>

<p><%= link_to("Edit Project", edit_project_path(@project.id)) %></p>

<p><%= link_to("Delete Project", project_path(@project.id), :method => "delete") %></p>

<p><%= link_to("All Projects", projects_path) %></p>