<h1>New Category</h1>

<%= form_for @category do |f| %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.hidden_field :user_id, :value => session[:user_id] %>
  </p>

  <%= f.submit %>

<% end %>

<p><%= link_to("Back to Categories", categories_path) %></p>