<!DOCTYPE html>
<html>
<head>
  <title>TaskProject</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
  
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700' rel='stylesheet' type='text/css'>
</head>

<script>
	
body{
	background: white;
}
</script>
<body>
  
  <ul>
    <li><%= link_to("Projects", projects_path) %></li>
    <li><%= link_to("Tasks", tasks_path) %></li>
    <li><%= link_to("Home", root_path) %></li>
  </ul>
  
  <header>
	  <div id="login">  
	    <% if current_user %>
	      <%= current_user.email %> (<%= link_to "Log out!", logout_path %>)
	    <% else %>
	      <%= link_to("Log In", login_path) %> | <%=link_to("Signup for a new account", signup_path) %>
	    <% end %>
	  </div>
  </header>

  <div id="main">
    
    <% if flash[:notice] %>
      <p id="notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:alert] %>
      <p id="alert"><%= flash[:alert] %></p>
    <% end %>
    
    <%= yield %>            
  </div>
  
  <footer>
  </footer>

</body>
</html>
